@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: none !important;
}

/* Custom Style */
.modal {
  z-index: 10000;
}

.location-selector {
  margin: 20px;
}

.location-button {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #5c645e;
  color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.location-button:hover {
  background-color: #5c645e;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 100;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Default width */
  max-width: 500px;
  /* Max width */
  box-sizing: border-box;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  direction: rtl;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .modal-content {
    width: 90%;
    /* More width for smaller screens */
  }
}

.popup-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.popup-inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.popup-img {
  max-width: 40%;
  height: auto;
  border-radius: 5px;
}

.popup-text-container {
  display: flex;
  flex-direction: column;
  direction: rtl;
  /* Right-to-left text direction for Arabic */
  margin-left: 20px;
  /* Space between image and text */
  max-width: 55%;
  /* Control the width of the text container */
  background-color: #f9f9f9;
  /* Light background color for the text container */
  border-radius: 10px;
  /* Rounded corners for a softer look */
  padding: 15px;
  /* Add padding inside the container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for depth */
}

.popup-text {
  margin: 10px 0;
  /* Space between paragraphs */
  font-size: 18px;
  /* Adjust font size */
  line-height: 1.6;
  /* Improve readability with line height */
  color: #333;
  /* Dark text color for better readability */
  font-family: "Arial", sans-serif;
  /* Consistent font family */
}

.popup-text:first-of-type {
  font-weight: bold;
  /* Make the first paragraph stand out */
  font-size: 20px;
  /* Slightly larger font size for emphasis */
  color: #2c3e50;
  /* Darker color for emphasis */
}

.popup-text:nth-of-type(2) {
  font-size: 15px;
  /* Medium font size */
  color: #34495e;
  /* Slightly lighter color for secondary text */
}

.popup-text:last-of-type {
  font-weight: normal;
  /* Normal weight for the last paragraph */
  color: #7f8c8d;
  /* Lighter color for less emphasis */
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .popup-text-container {
    margin-left: 0;
    /* Remove margin on small screens */
    text-align: center;
    /* Center text on smaller screens */
    padding: 10px;
    /* Adjust padding for smaller screens */
  }

  .popup-text {
    font-size: 16px;
    /* Adjust font size for smaller screens */
    margin: 8px 0;
    /* Adjust space between paragraphs */
  }
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .popup-inner {
    flex-direction: column;
    /* Stack image and text vertically */
  }

  .popup-img {
    max-width: 100%;
    margin-bottom: 20px;
    /* Space between image and text */
  }

  .popup-text-container {
    margin-left: 0;
    text-align: center;
    /* Center text on smaller screens */
  }
}

.dot-before::before {
  content: "•";
  /* Unicode for a bullet point */
  font-size: 1.5em;
  /* Adjust size as needed */
  margin-right: 10px;
  /* Adjust spacing as needed */
  display: inline-block;
  vertical-align: middle;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  margin: 0 auto;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

iframe {
  width: 100% !important;
  @apply !h-[220] lg:!h-[170];
}
.text-muted {
  @apply !text-gray-200 cursor-not-allowed hover:!text-gray-300;
}
.buttonVariants {
  @apply inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none disabled:pointer-events-none disabled:opacity-50;
}
.buttonVariants-outline{
  @apply border bg-inherit hover:bg-slate-100 hover:text-slate-100
}
.buttonVariants-ghost{
  @apply hover:bg-slate-100 hover:text-slate-100;
}
.Pagination-ul{
  @apply flex flex-row items-center gap-5
}
.Pagination-nav{
  @apply mx-auto flex w-full justify-center
}